@model GestaoBeneficios.DTO.PessoaDTO

@{
    ViewData["Title"] = "Pessoa";
}

<h2>Excluir Pessoa</h2>

<h3>Confirma a exclusão do registro?</h3>
<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataAdmissao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAdmissao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cargo.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Perfil.Tipo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para a listagem</a>
    </form>
</div>
